@font-face {
    font-family: 'Aboreto-Regular';
    src: url(../assets/font/Aboreto-Regular.ttf);
}
@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url(../assets/font/RobotoSlab-Regular.ttf);
}
@font-face {
    font-family: 'Silkscreen-Bold';
    src: url(../assets/font/Silkscreen-Bold.ttf);
}
@font-face {
    font-family: 'Silkscreen-Regular';
    src: url(../assets/font/Silkscreen-Regular.ttf);
}